CLIENT_URL=https://www.kalaagalyaherbals.in
EMAIL_PASS="kdyn tvdy jjkp rqqq"
EMAIL_USER=kalaagalyaherbals@gmail.com
GOOGLE_CLIENT_ID=1034311778297-hhntshuvfsfts9viat3uuk6t382rv347.apps.googleusercontent.com
JWT_SECRET=kala_agalya_herbal_secret_key_9988
MONGO_URI="mongodb+srv://kalaagalyaherbals_db_user:xyjNml2mF8lQHkho@cluster0.impvobd.mongodb.net/hairoil_db?retryWrites=true&w=majority&appName=Cluster0"
PHONEPE_CALLBACK_URL=https://kala-agalya-herbals-production.up.railway.app/api/orders/phonepe/callback
PHONEPE_CLIENT_ID=SU2604271548295601187281
PHONEPE_CLIENT_SECRET=fb3b4724-b6c5-45bc-8b83-5910d3f1f711
PHONEPE_CLIENT_VERSION=1
PHONEPE_ENV=PRODUCTION
PHONEPE_MERCHANT_ID=M23VSFDLPGMWL
PORT=5001