PORT=5000
MONGO_URI="mongodb+srv://kalaagalyaherbals_db_user:xyjNml2mF8lQHkho@cluster0.impvobd.mongodb.net/hairoil_db?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=kala_agalya_herbal_secret_key_9988
GOOGLE_CLIENT_ID=1034311778297-hhntshuvfsfts9viat3uuk6t382rv347.apps.googleusercontent.com
EMAIL_USER=kalaagalyaherbals@gmail.com
EMAIL_PASS="kdyn tvdy jjkp rqqq"
PHONEPE_MERCHANT_ID=SU2604271548295601187281
PHONEPE_SALT_KEY=fb3b4724-b6c5-45bc-8b83-5910d3f1f711
PHONEPE_SALT_INDEX=1
PHONEPE_API_URL=https://api.phonepe.com/apis/hermes
PHONEPE_CALLBACK_URL=https://kala-agalya-herbals.onrender.com/api/orders/phonepe/callback
CLIENT_URL=https://www.kalaagalyaherbals.in
